<div class="container mt-5">
  <h1>My Publications</h1>
  <div class="publications-list">
        <!-- Publication 1 -->
         <div class="publication-item">
            <h2>Title: Title</h2>
            <p><strong>Authors:</strong> Sohrab Rezaei</p>
            <p><strong>Publication:</strong> Ozonja</p>
            <p><strong>Year:</strong> 200000</p>
            <p><strong>Description:</strong> </p>
            <a href="#" class="publication-link" target="_blank">Read More</a>
        </div>
        <!-- Publication 2 -->
        <div class="publication-item">
            <h2>Title: Title</h2>
            <p><strong>Authors:</strong> Sohrab Rezaei</p>
            <p><strong>Publication:</strong> Ozonja</p>
            <p><strong>Year:</strong> 200000</p>
            <p><strong>Description:</strong> </p>
            <a href="#" class="publication-link" target="_blank">Read More</a>
        </div>
  </div>
</div>
