<div class="sidebar">
  <!-- Profile Picture -->
  <div class="sidebar-profile">
    <img src="/img/profile.jpg" alt="Profile Picture" class="profile-pic">
  </div>

  <!-- Links in Sidebar -->
  <div class="sidebar-links">
    <a href="https://www.youtube.com/@sohrabization4576" class="sidebar-item" target="_blank">
    <i class="fab fa-youtube"></i> YouTube
    </a>
    <a href="mailto:your-email@example.com" class="sidebar-item" target="_blank">
    <i class="fas fa-envelope"></i> Email
    </a>
    <a href="https://www.linkedin.com/in/srezaei/" class="sidebar-item" target="_blank">
    <i class="fab fa-linkedin"></i> Linkedin
    </a>
    <a href="https://github.com/Sohrab-rz" class="sidebar-item" target="_blank">
    <i class="fab fa-github"></i> Github
    </a>
    <a href="https://scholar.google.com/citations?user=sU7g1VQAAAAJ&hl=en" class="sidebar-item" target="_blank">
    <i class="fas fa-user-graduate"></i> Google Scholar
    </a>
    <a href="https://ieeexplore.ieee.org/author/636354512544223" class="sidebar-item" target="_blank">
    <i class="fab fa-ieee"></i> IEEE
    </a>
    <a href="https://www.instagram.com/sohrabization/" class="sidebar-item" target="_blank">
    <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="https://orcid.org/0009-0009-3530-1202" class="sidebar-item" target="_blank">
    <i class="fas fa-id-card"></i> Orcid
    </a>
    <a href="https://www.researchgate.net/profile/Sohrab-Rezaei-7" class="sidebar-item" target="_blank">
    <i class="fab fa-researchgate"></i> ResearchGate
    </a>
  </div>
</div>
