<nav class="navbar">
  <div class="navbar-container">
  

    <!-- Navigation Links -->
    <div class="nav-links">
      <a href="/home" class="nav-item">Home</a>
      <a href="/education" class="nav-item">Education</a>
      <a href="/experience" class="nav-item">Experience</a>
      <a href="/projects" class="nav-item">Projects</a>
    </div>
  </div>
</nav>
