<div class="container mt-5">
  <h1>My Education</h1>
  <div class="education-list">
        <!-- University 1 -->
        <div class="education-item">
            <h2>University </h2>
            <p><strong>Degree:</strong> fvmsdfkvm</p>
            <p><strong>Years:</strong> 2020 </p>
            <p><strong>Major:</strong>Vale me knoneme </p>
        </div>
        <!-- University 2 -->
        <div class="education-item">
            <h2>University </h2>
            <p><strong>Degree:</strong> fvmsdfkvm</p>
            <p><strong>Years:</strong> 2020 </p>
            <p><strong>Major:</strong>Vale me knoneme </p>
        </div>
   </div>
</div>
