<div class="container mt-5">
    <div class="row">
        <!-- Left Column -->
        <div class="col-lg-8">
            <!-- If you want to add more contenten in seprated boxes, just copy and paste div bellow -->
            <div class="section-content">
                <h2 class="section-title">header</h2>
                <p>Content</p>
                <p>Another Content</p>
            </div>
        </div>

        <!-- Right Column (Sidebar) -->
        <div class="col-lg-4">
            <!-- If you want to add more contenten in seprated boxes, just copy and paste div bellow -->
            <div class="section-content">
                <h3 class="section-title">Right side Header</h3>
                <p>Content</p>
                <p>Another Content</p>
            </div>
        </div>
    </div>


    <!-- Injoryam mishe-->
     <div class="education-list">
        <!-- University 1 -->
        <div class="education-item">
            <h2>University </h2>
            <p><strong>Degree:</strong> fvmsdfkvm</p>
            <p><strong>Years:</strong> 2020 </p>
            <p><strong>Major:</strong>Vale me knoneme </p>
        </div>
   </div>

   
</div>